# 1 FinanceDataReader

- 설명홈페이지: https://github.com/FinanceData/FinanceDataReader
- 설치방법: Anaconda Prompt 실행 -> pip install finance-datareader

# 1.1 FinanceDataReader 실행

In [1]:
import FinanceDataReader as fdr

# 1.2 개별종목불러오기
- 삼성전자 : 005930
- SK하이닉스: 000660

fdr.DataReader는 최대 6000일 데이터를 가져온다.

In [2]:
df1 = fdr.DataReader("005930")

In [3]:
df2 = fdr.DataReader("000660")
df2

              Open    High     Low   Close   Volume    Change
Date
1999-06-02  253868  261857  251205  256530  3434610       NaN
1999-06-03  260969  270733  254755  257418  3350460  0.003462
1999-06-04  257418  264520  250317  251204  1729760 -0.024140
1999-06-07  254755  262744  252980  256530  2243300  0.021202
1999-06-08  259194  276059  252980  276059  2650670  0.076128
...            ...     ...     ...     ...      ...       ...
2023-09-06  118600  120000  117800  118200  1615519 -0.010050
2023-09-07  118200  120900  117100  118500  2995088  0.002538
2023-09-08  117000  117100  112800  113700  4943255 -0.040506
2023-09-11  113700  116000  112900  115900  2542590  0.019349
2023-09-12  115400  117500  113900  116700  2619323  0.006903

[6000 rows x 6 columns]

In [4]:
df3 = fdr.DataReader("000660", start="2000")
df3

              Open    High     Low   Close    Volume    Change
Date
2000-01-04  484852  519204  475037  505462   9275920  0.068463
2000-01-05  474056  489759  446574  453444   7414370 -0.102912
2000-01-06  461296  467185  424981  429888   6529140 -0.051949
2000-01-07  416148  439704  408296  425962  10492270 -0.009133
2000-01-10  431852  437741  422037  422037   8041690 -0.009214
...            ...     ...     ...     ...       ...       ...
2023-09-06  118600  120000  117800  118200   1615519 -0.010050
2023-09-07  118200  120900  117100  118500   2995088  0.002538
2023-09-08  117000  117100  112800  113700   4943255 -0.040506
2023-09-11  113700  116000  112900  115900   2542590  0.019349
2023-09-12  115400  117500  113900  116700   2619323  0.006903

[5852 rows x 6 columns]

# 1.3 한국거래소 종목정보 불러오기

In [5]:
stocks = fdr.StockListing('KRX')

In [6]:
stocks

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,70500,2,-300,-0.42,70800,71000,70400,11688599,825295634500,420869669775000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,,499500,2,-8500,-1.67,513000,516000,499500,300881,151276093740,116883000000000,234000000,STK
2,000660,KR7000660001,SK하이닉스,KOSPI,,116700,1,800,0.69,115400,117500,113900,2749688,318540598500,84957875995500,728002365,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,723000,2,-11000,-1.50,738000,738000,721000,35310,25665297000,51458802000000,71174000,STK
4,005935,KR7005931001,삼성전자우,KOSPI,,57200,1,400,0.70,57500,57500,56800,893637,51042730330,47069119240000,822886700,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2747,245450,KR7245450002,씨앤에스링크,KONEX,일반기업부,1650,2,-48,-2.83,1699,1699,1579,849,1341062,2606934000,1579960,KNX
2748,288490,KR7288490006,나라소프트,KONEX,일반기업부,54,2,-2,-3.57,56,56,51,86590,4629423,2336418270,43267005,KNX
2749,308700,KR7308700004,테크엔,KONEX,일반기업부,339,1,40,13.38,256,342,256,746,191314,1356000000,4000000,KNX
2750,322190,KR7322190000,베른,KONEX,일반기업부,123,2,-8,-6.11,131,131,112,16584,1861050,1097799231,8925197,KNX
2751,242350,KR7242350007,피엔아이컴퍼니,KONEX,일반기업부,44,2,-39,-46.99,81,81,44,677865,38919453,210166880,4776520,KNX

In [7]:
stock_name = '삼성전자'
# stocks['Name'] == stock_name

def get_krx_code_by_name(krx_name):
    if krx_name in stocks['Name'][0]:
        krx_item_code = stocks[stocks['Name'] == stock_name]['Code'][0]
        print(f"종목 있어요 {krx_item_code}")
        return krx_item_code 
    else:
        print("종목 없어요.")
        raise '해당 종목코드는 없어요.'
        
def get_krx_trade_data(krx_name, start_date = None, end_date = None):
    krx_item_code = get_krx_code_by_name(krx_name)
    df = fdr.DataReader(krx_item_code, start= start_date, end = end_date)
    return df

df = get_krx_trade_data(stock_name, '2023-08-01', '2023-09-10')
        
# stock_code = get_krx_code_by_name(stock_name)
# df = fdr.DataReader(stock_code, start = '2023')
# df

종목 있어요 005930

### mdcd오실레이터

In [8]:
def macd_oscillator(df, short_n, long_n, signal_n):
    df = df[['Close']].copy()
    
    df['Short'] = df['Close'].ewm(span = short_n, adjust = False).mean()
    df['Long'] = df['Close'].ewm(span = long_n, adjust = False).mean()
    df['MACD'] = df['Short'] - df['Long']
    df['Signal'] = df['MACD'].ewm(span = signal_n, adjust = False).mean()
    df['MACD Oscillator'] = df['MACD'] - df['Signal']
    
    return df

macd_oscillator(df, short_n = 9, long_n = 26, signal_n = 13)

,Close,Short,Long,MACD,Signal,MACD Oscillator
Date,,,,,,
2023-08-01,71100,71100.000000,71100.000000,0.000000,0.000000,0.000000
2023-08-02,69900,70860.000000,71011.111111,-151.111111,-21.587302,-129.523810
2023-08-03,68800,70448.000000,70847.325103,-399.325103,-75.549845,-323.775258
2023-08-04,68300,70018.400000,70658.634355,-640.234355,-156.219060,-484.015294
2023-08-07,68500,69714.720000,70498.735513,-784.015513,-245.904268,-538.111246
2023-08-08,67600,69291.776000,70284.014364,-992.238364,-352.523425,-639.714940
2023-08-09,68900,69213.420800,70181.494782,-968.073982,-440.459218,-527.614763
2023-08-10,68000,68970.736640,70019.902576,-1049.165936,-527.417321,-521.748615
2023-08-11,67500,68676.589312,69833.243126,-1156.653814,-617.308248,-539.345565
2023-08-14,67300,68401.271450,69645.595487,-1244.324037,-706.881933,-537.442105
2023-08-16,67000,68121.017160,69449.625451,-1328.608291,-795.699984,-532.908307
2023-08-17,66700,67836.813728,69245.949491,-1409.135764,-883.333667,-525.802097
2023-08-18,66300,67529.450982,69027.731011,-1498.280028,-971.183147,-527.096881
2023-08-21,66600,67343.560786,68847.899084,-1504.338298,-1047.348168,-456.990130
2023-08-22,66600,67194.848629,68681.388041,-1486.539412,-1110.089775,-376.449637
2023-08-23,67100,67175.878903,68564.248186,-1388.369283,-1149.843990,-238.525293
2023-08-24,68200,67380.703122,68537.266839,-1156.563716,-1150.803951,-5.759765
2023-08-25,67100,67324.562498,68430.802628,-1106.240131,-1144.437691,38.197560
2023-08-28,66800,67219.649998,68310.002434,-1090.352435,-1136.711226,46.358790
2023-08-29,66800,67135.719999,68198.150402,-1062.430403,-1126.099680,63.669277
2023-08-30,67100,67128.575999,68116.805927,-988.229928,-1106.404001,118.174073
2023-08-31,66900,67082.860799,68026.672155,-943.811356,-1083.176480,139.365124
2023-09-01,71000,67866.288639,68246.918662,-380.630023,-982.812701,602.182678
2023-09-04,71200,68533.030911,68465.665428,67.365484,-832.787246,900.152729
2023-09-05,70700,68966.424729,68631.171692,335.253037,-665.924348,1001.177385
2023-09-06,70000,69173.139783,68732.566382,440.573401,-507.853241,948.426643
2023-09-07,70400,69418.511827,68856.079983,562.431843,-354.955372,917.387215
2023-09-08,70300,69594.809461,68963.037021,631.772440,-213.994256,845.766696

# DD &MDD

- pct_change() : 수익률을 구하는 함수
- comport() : 누적곱을 구하는 함수(누적수익률)

- 일별 수익률 % = (오늘의 종가 - 어제의 종가) / 어제의 종가 * 100

In [9]:
dd_df = df[['Close']]
((dd_df['Close'] - dd_df['Close'].shift(1)) / dd_df['Close'].shift(1)).fillna(0)

Date
2023-08-01    0.000000
2023-08-02   -0.016878
2023-08-03   -0.015737
2023-08-04   -0.007267
2023-08-07    0.002928
2023-08-08   -0.013139
2023-08-09    0.019231
2023-08-10   -0.013062
2023-08-11   -0.007353
2023-08-14   -0.002963
2023-08-16   -0.004458
2023-08-17   -0.004478
2023-08-18   -0.005997
2023-08-21    0.004525
2023-08-22    0.000000
2023-08-23    0.007508
2023-08-24    0.016393
2023-08-25   -0.016129
2023-08-28   -0.004471
2023-08-29    0.000000
2023-08-30    0.004491
2023-08-31   -0.002981
2023-09-01    0.061286
2023-09-04    0.002817
2023-09-05   -0.007022
2023-09-06   -0.009901
2023-09-07    0.005714
2023-09-08   -0.001420
Name: Close, dtype: float64

In [10]:
def return_df(df):
    return df['Close'].pct_change().fillna(0)

# 일별 수익률
df_return = return_df(df)
df_return

Date
2023-08-01    0.000000
2023-08-02   -0.016878
2023-08-03   -0.015737
2023-08-04   -0.007267
2023-08-07    0.002928
2023-08-08   -0.013139
2023-08-09    0.019231
2023-08-10   -0.013062
2023-08-11   -0.007353
2023-08-14   -0.002963
2023-08-16   -0.004458
2023-08-17   -0.004478
2023-08-18   -0.005997
2023-08-21    0.004525
2023-08-22    0.000000
2023-08-23    0.007508
2023-08-24    0.016393
2023-08-25   -0.016129
2023-08-28   -0.004471
2023-08-29    0.000000
2023-08-30    0.004491
2023-08-31   -0.002981
2023-09-01    0.061286
2023-09-04    0.002817
2023-09-05   -0.007022
2023-09-06   -0.009901
2023-09-07    0.005714
2023-09-08   -0.001420
Name: Close, dtype: float64

In [11]:
# 누적곱
def cum_return_fn(df):
    return (1 + df).cumprod()

df_cum_reutrn = cum_return_fn(df_return)


# 누적수익률 = 누적곱 - 1
df_cum_reutrn - 1

Date
2023-08-01    0.000000
2023-08-02   -0.016878
2023-08-03   -0.032349
2023-08-04   -0.039381
2023-08-07   -0.036568
2023-08-08   -0.049226
2023-08-09   -0.030942
2023-08-10   -0.043601
2023-08-11   -0.050633
2023-08-14   -0.053446
2023-08-16   -0.057665
2023-08-17   -0.061885
2023-08-18   -0.067511
2023-08-21   -0.063291
2023-08-22   -0.063291
2023-08-23   -0.056259
2023-08-24   -0.040788
2023-08-25   -0.056259
2023-08-28   -0.060478
2023-08-29   -0.060478
2023-08-30   -0.056259
2023-08-31   -0.059072
2023-09-01   -0.001406
2023-09-04    0.001406
2023-09-05   -0.005626
2023-09-06   -0.015471
2023-09-07   -0.009845
2023-09-08   -0.011252
Name: Close, dtype: float64

In [12]:
df['Return'] = return_df(df)
df['CumReturn'] = cum_return_fn(df['Return'])
df['MaxCumReturn'] = df['CumReturn'].cummax()
# DD
df['DrawDown'] = (df['CumReturn'] / df['MaxCumReturn']) -1
# MDD
print(df['DrawDown'].min())
df.head(10)

-0.06751054852320681

,Open,High,Low,Close,Volume,Change,Return,CumReturn,MaxCumReturn,DrawDown
Date,,,,,,,,,,
2023-08-01,70100,71200,70000,71100,12299254,0.018625,0.000000,1.000000,1.0,0.000000
2023-08-02,70700,71000,69800,69900,13835020,-0.016878,-0.016878,0.983122,1.0,-0.016878
2023-08-03,69900,70200,68500,68800,20087090,-0.015737,-0.015737,0.967651,1.0,-0.032349
2023-08-04,68800,69100,68200,68300,12360193,-0.007267,-0.007267,0.960619,1.0,-0.039381
2023-08-07,67700,69200,67600,68500,10968505,0.002928,0.002928,0.963432,1.0,-0.036568
2023-08-08,69000,69100,67400,67600,14664709,-0.013139,-0.013139,0.950774,1.0,-0.049226
2023-08-09,68000,69600,67900,68900,17259673,0.019231,0.019231,0.969058,1.0,-0.030942
2023-08-10,68300,68500,67800,68000,10227311,-0.013062,-0.013062,0.956399,1.0,-0.043601
2023-08-11,68400,68800,67500,67500,9781038,-0.007353,-0.007353,0.949367,1.0,-0.050633
2023-08-14,67500,67900,66900,67300,9352343,-0.002963,-0.002963,0.946554,1.0,-0.053446