# 1 FinanceDataReader

- 설명홈페이지: https://github.com/FinanceData/FinanceDataReader
- 설치방법: Anaconda Prompt 실행 -> pip install finance-datareader

# 1.1 FinanceDataReader 실행

In [1]:
import FinanceDataReader as fdr

# 1.2 개별종목불러오기
- 삼성전자 : 005930
- SK하이닉스: 000660

fdr.DataReader는 최대 6000일 데이터를 가져온다.

In [2]:
df1 = fdr.DataReader("005930")

In [3]:
df2 = fdr.DataReader("000660")
df2

              Open    High     Low   Close   Volume    Change
Date
1999-05-28  266295  270733  257418  260081  1574650       NaN
1999-05-31  260081  269845  254755  258306  2737690 -0.006825
1999-06-01  253868  261857  250317  251204  1854570 -0.027495
1999-06-02  253868  261857  251205  256530  3434610  0.021202
1999-06-03  260969  270733  254755  257418  3350460  0.003462
...            ...     ...     ...     ...      ...       ...
2023-09-01  121400  122600  119600  120000  2886011 -0.014778
2023-09-04  118300  119700  116200  119200  3491280 -0.006667
2023-09-05  118100  121000  117700  119400  1749591  0.001678
2023-09-06  118600  120000  117800  118200  1615519 -0.010050
2023-09-07  118200  120900  117100  118500  2891569  0.002538

[6000 rows x 6 columns]

In [4]:
df3 = fdr.DataReader("000660", start="2000")
df3

              Open    High     Low   Close    Volume    Change
Date
2000-01-04  484852  519204  475037  505462   9275920  0.068463
2000-01-05  474056  489759  446574  453444   7414370 -0.102912
2000-01-06  461296  467185  424981  429888   6529140 -0.051949
2000-01-07  416148  439704  408296  425962  10492270 -0.009133
2000-01-10  431852  437741  422037  422037   8041690 -0.009214
...            ...     ...     ...     ...       ...       ...
2023-09-01  121400  122600  119600  120000   2886011 -0.014778
2023-09-04  118300  119700  116200  119200   3491280 -0.006667
2023-09-05  118100  121000  117700  119400   1749591  0.001678
2023-09-06  118600  120000  117800  118200   1615519 -0.010050
2023-09-07  118200  120900  117100  118500   2891569  0.002538

[5849 rows x 6 columns]

# 1.3 한국거래소 종목정보 불러오기

In [5]:
stocks = fdr.StockListing('KRX')

In [6]:
stocks

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,70400,1,400,0.57,70000,70600,69600,13741241,964326666248,420272691520000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,,517000,2,-10000,-1.90,523000,529000,514000,308430,160111497000,120978000000000,234000000,STK
2,000660,KR7000660001,SK하이닉스,KOSPI,,118500,1,300,0.25,118200,120900,117100,2995088,354989251824,86268280252500,728002365,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,724000,2,-4000,-0.55,726000,732000,720000,47519,34390114000,51529976000000,71174000,STK
4,005490,KR7005490008,POSCO홀딩스,KOSPI,,568000,2,-12000,-2.07,575000,584000,563000,954854,545854258000,48036458640000,84571230,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2747,001525,KR7001521004,동양우,KOSPI,,4515,2,-605,-11.82,5190,5190,4515,3550,17833485,2789055465,617731,STK
2748,288490,KR7288490006,나라소프트,KONEX,일반기업부,51,3,0,0.00,52,52,49,129936,6458132,2206617255,43267005,KNX
2749,322190,KR7322190000,베른,KONEX,일반기업부,142,1,9,6.77,149,149,117,12,1611,1267377974,8925197,KNX
2750,308700,KR7308700004,테크엔,KONEX,일반기업부,298,1,33,12.45,304,304,226,16904,4038858,1192000000,4000000,KNX
2751,242350,KR7242350007,피엔아이컴퍼니,KONEX,일반기업부,148,2,-943,-86.43,101,180,72,1272944,141379393,706924960,4776520,KNX

In [9]:
stock_name = '삼성전자'
# stocks['Name'] == stock_name

def get_krx_code_by_name(krx_name):
    if krx_name in stocks['Name'][0]:
        krx_item_code = stocks[stocks['Name'] == stock_name]['Code'][0]
        print(f"종목 있어요 {krx_item_code}")
        return krx_item_code 
    else:
        print("종목 없어요.")
        raise '해당 종목코드는 없어요.'
        
def get_krx_trade_data(krx_name, start_date = None, end_date = None):
    krx_item_code = get_krx_code_by_name(krx_name)
    df = fdr.DataReader(krx_item_code, start= start_date, end = end_date)
    return df

df = get_krx_trade_data(stock_name, '2022', '2023')
        
# stock_code = get_krx_code_by_name(stock_name)
# df = fdr.DataReader(stock_code, start = '2023')
# df

종목 있어요 005930

### mdcd오실레이터

In [14]:
def macd_oscillator(df, short_n, long_n, signal_n):
    df = df[['Close']].copy()
    
    df['Short'] = df['Close'].ewm(span = short_n, adjust = False).mean()
    df['Long'] = df['Close'].ewm(span = long_n, adjust = False).mean()
    df['MACD'] = df['Short'] - df['Long']
    df['Signal'] = df['MACD'].ewm(span = signal_n, adjust = False).mean()
    df['MACD Oscillator'] = df['MACD'] - df['Signal']
    
    return df

macd_oscillator(df, short_n = 9, long_n = 26, signal_n = 13)

,Close,Short,Long,MACD,Signal,MACD Oscillator
Date,,,,,,
2022-01-03,78600,78600.000000,78600.000000,0.000000,0.000000,0.000000
2022-01-04,78700,78620.000000,78607.407407,12.592593,1.798942,10.793651
2022-01-05,77400,78376.000000,78517.969822,-141.969822,-18.739453,-123.230369
2022-01-06,76900,78080.800000,78398.120205,-317.320205,-61.393846,-255.926359
2022-01-07,78300,78124.640000,78390.852042,-266.212042,-90.653588,-175.558453
...,...,...,...,...,...,...
2022-12-23,58100,58981.386116,59612.547303,-631.161188,-207.313499,-423.847688
2022-12-26,57900,58765.108893,59485.691947,-720.583055,-280.637722,-439.945333
2022-12-27,58100,58632.087114,59383.048099,-750.960985,-347.826759,-403.134226
2022-12-28,56600,58225.669691,59176.896388,-951.226697,-434.026750,-517.199947
2022-12-29,55300,57640.535753,58889.718878,-1249.183125,-550.477661,-698.705464